@import '../../styles/abstracts/variables';

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(237, 139, 35);
  background: -moz-linear-gradient(-45deg, rgba(237, 139, 35, 1) 0%, rgba(238, 160, 76, 1) 52%, rgba(247, 215, 98, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(237, 139, 35, 1) 0%, rgba(238, 160, 76, 1) 52%, rgba(247, 215, 98, 1) 100%);
  background: linear-gradient(135deg, rgba(237, 139, 35, 1) 0%, rgba(238, 160, 76, 1) 52%, rgba(247, 215, 98, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed8b23', endColorstr='#f7d762', GradientType=1);

  padding: 0 10%;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }

  li {
    margin-left: 3rem;
  }

  a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;

    &:hover,
    &:active,
    &:visited {
      color: #fff;
    }
  }
}