@import '../../styles/abstracts/variables';

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  flex-direction: column;
}

.form {
  width: 100%;
  max-width: 480px;
}

.form-title {
  margin: 0 0 60px;
  font-size: 2rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  position: relative;

  &:last-child,
  &:nth-child(4) {
    margin-bottom: 30px;
  }

  label {
    display: block;
    margin-bottom: 12px;
    position: absolute;
    left: 20px;
    top: 16px;
    opacity: 0.6;
    transition: $transition-primary;
    animation: labelDown 0.4s ease-in-out forwards;
  }

  @keyframes labelUp {
    0% {
      opacity: 0.6;
      top: 16px;
    }

    50% {
      opacity: 0;
      top: -5px;
    }

    90% {
      top: -34px;
    }

    100% {
      opacity: 1;
      top: -26px;
    }
  }

  @keyframes labelDown {
    0% {
      opacity: 1;
      top: -26px;
    }

    50% {
      opacity: 0;
      top: -5px;
    }

    90% {
      top: 24px;
    }

    100% {
      opacity: 0.6;
      top: 16px;
    }
  }

  input {
    height: 50px;
    font-size: 18px;
    border: none;
    padding: 5px 110px 5px 20px;
    transition: $transition-primary;
    box-shadow: 0px 14px 10px -7px rgba(#444, 0.1);
    position: relative;

    &:focus,
    &:focus-within {
      box-shadow: 0px 18px 10px -7px rgba($color-orange-primary, 0.3);
    }

    &:not(&:placeholder-shown)~label {
      animation: labelUp 0.4s ease-in-out forwards;
    }
  }

  &:focus-within~label {
    animation: labelUp 0.4s ease-in-out forwards;
  }
}

.input-cta {
  position: absolute;
  right: 15px;
  top: 14px;
  cursor: pointer;
  opacity: 0.6;
}

.btns-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.switch-btn {
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
}