.item {
  margin: 1rem 0;
}

.note-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.content {
  padding: 1rem;
  flex-grow: 1;
  width: 30%;

  h3 {
    font-size: 1.25rem;
    color: #2c292b;
    margin: 0 0 15px;
  }

  em {
    color: #aaa;
    font-weight: 600;
  }

}

.actions {
  text-align: center;
  flex-shrink: 0;

  button {
    font: inherit;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;

    &:hover,
    &:active {
      background-color: #ffe2ed;
    }
  }
}

.content-text {
  text-overflow: ellipsis;
  max-width: 95%;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px 0;
  color: #555;
}